<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    font-size: 1rem;
  }

</style>


<nav class="navbar navbar-expand-md bg-body-tertiary border-bottom sticky-top d-none d-md-flex">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">
      <i class="fa-brands fa-airbnb"></i>
    </a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" role="search" method="get" action="/listings">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" name="search" />
          <button class="btn search-btn" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
          <a class="nav-link" href="/signup"><b>Sign up</b></a>
          <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser) { %>
          <a class="nav-link" href="/logout"><b>Log out</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>

<nav class="navbar bg-body-tertiary fixed-top d-flex d-md-none">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-brands fa-airbnb"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><i class="fa-brands fa-airbnb"></i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/listings">Explore</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/listings/new">Airbnb your Home</a>
          </li>
          <% if(!currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/signup">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <% } %>
          <% if(currUser) { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } %>
        </ul>
        <form class="d-flex mt-3" role="search" method="get" action="/listings">
          <input class="form-control me-2" type="search" placeholder="Search" name="search" />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
